<html>
<head>
    <meta charset="utf-8"/>
    <title>Документация</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Документация</h1>
<p>Здесь будет документация</p>
</body>
</html>